/* ROOT VARIABLES */
:root
{
    --bg: #111;
    --fg: bisque;
    --framebg: #333;
}



body
{
    background-color: var(--bg);
    color: var(--fg);

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}


.frame
{
    background-color: var(--framebg);
    width: 60vw;
    min-width: 700px;
    height: 90vh;

    /* BORDERS */
    box-sizing: border-box;
    padding: 4%;

    /* DISPLAY */
    display: flex;
    flex-direction: column;
}

#title
{
    font-size: 50px;

    /* BORDERS */
    margin: 0;
}

#desc
{
    font-size: 25px;
}


/* ------------------------------------------ */

.working
{
    width: 100%;
    flex: 1;
    background-color: teal;

    /* DISPLAY */
    display: flex;


}

.left
{
    /* background-color: yellowgreen; */
    width: 20%;

    /* PADDING */
    padding: 8%;
    box-sizing: border-box;

    /* DISPPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right
{
    /* width: 50%; */
    flex: 1;
    /* background-color: yellow; */

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img
{
    background-color: brown;
    width: 90%;
    height: 70%;
}


.btns
{
    width: 100px;
    height: 50px;
}